* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-font {
  font-family: "Azeret Mono", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* header part styles */

/*!  ONE */
/* *NAVBAR */
.navbar {
  display: flex;
  /* background-color: orangered; */
  justify-content: space-between;
  padding: 38px 150px;
}

.navbar-title {
  font-size: 28px;
  font-weight: 800;
}

.navbar-download-button {
  width: 245px;
  height: 55px;
  border-radius: 8px;
  border: 1px solid black;
  font-size: 20px;
}

/* hero part design inside header */
.hero {
  background-image: url(../assets/heru-bg.png);
  height: 652px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 26px 221px 45px 221px;
}

.profile-image {
  width: 240px;
  height: 240px;
  margin-bottom: 32px;
}

.hero-title {
  font-size: 48px;
  font-weight: 800;
  text-align: center;
  padding: 0px 200px;
  margin-bottom: 24px;
}

.hero-description {
  font-size: 16px;
  padding: 0px 300px;
  text-align: center;
  margin-bottom: 32px;
}

.hero-contact-button {
  width: 244px;
  height: 65px;
  padding: 21px 24px;
  background-color: black;
  /* color: white; */
  border-radius: 8px;
}

a {
  font-size: 20px;
  font-weight: 600;
  color: white;
  text-decoration: none;
}

/* web dev section */
.web-development-section {
  max-width: 1140px;
  margin: 75px auto;
  padding: 80px 97px;
}

.web-development-section-title {
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 24px;
}

.web-development-section-description {
  text-align: center;
  font-size: 16px;
  padding: 0px 47px;
  margin-bottom: 48px;
}

.web-development-motive {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.motive-block-1 {
  display: flex;
  padding: 48px;
  justify-content: space-between;
  border-radius: 3px;
  border: 1px solid black;
}

.motive-block-2 {
  display: flex;
  padding: 48px;
  justify-content: space-between;
  border-radius: 3px;
  border: 1px solid black;
}

.motive-details {
  max-width: 477px;
}

.motive-details-title {
  font-size: 24px;
  padding-right: 60px;
}

.motive-details-description {
  margin-top: 16px;
  margin-bottom: 32px;
}

.motive-details-morebutton {
  width: 171px;
  height: 47px;
  border-radius: 3px;
  border: 1px solid black;
}

/* inspire section */
.inspir-section {
  max-width: 1140px;
  /* background-color: yellow; */
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 151px;
}

.inspir-title {
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 24px;
}

.inspir-description {
  text-align: center;
  font-size: 16px;
  padding: 0px 114px;
  margin-bottom: 48px;
}

.iframe-section {
  width: 1076px;
  height: 550px;
  border-radius: 16px;
}

/* skills section */
.skill-section {
  /* background-color: yellow; */
  max-width: 1140px;
  margin: 0px auto;
  margin-bottom: 49px;
}

/* * UPPER */

.current-skill {
  display: flex;
  flex-direction: column;
  margin-bottom: 111px;
}

.current-skill-title {
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 24px;
}

.current-skill-description {
  text-align: center;
  padding: 0px 150px;
  font-size: 16px;
  margin-bottom: 48px;
}

.current-lang {
  display: flex;
  justify-content: space-between;
}

.h-c-j {
  width: 364px;
  height: 299px;
  padding: 40px;
}

.h-c-j-title {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 8px;
  margin-top: 24px;
}

.h-c-j-description {
  font-size: 16px;
  margin-bottom: 24px;
}

.h-c-j-more {
  font-size: 16px;
  font-weight: 800;
  color: black;
}

/* * DOWN */

.target-skill {
  display: flex;
  flex-direction: column;
}

.target-skill-title {
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 24px;
}

.target-skill-description {
  text-align: center;
  padding: 0px 150px;
  font-size: 16px;
  margin-bottom: 48px;
}

.target-lang {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.r-n-m {
  /* width: 364px; */
  height: 219px;
  padding: 40px;
  /* border: 1px solid black; */
  display: flex;
  gap: 24px;
  align-items: center;
}

.r-n-m-title {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 8px;
}

.r-n-m-description {
  font-size: 16px;
  margin-bottom: 24px;
}

.r-n-m-more {
  font-size: 16px;
  font-weight: 800;
  color: black;
}

.r-n-m-image1 {
  width: 108px;
  height: 108px;
}

.r-n-m-image2 {
  width: 144px;
  height: 88px;
}

/* contact part */

#contact {
  max-width: 1140px;
  height: 313px;
  background-image: url(../assets/handshake.jpg),
    radial-gradient(circle, #494949 0%, #313131 100%);
  background-blend-mode: overlay;

  background-size: cover;
  background-position: center;
  margin: 0px auto;
  margin-bottom: 80px;
  border-radius: 16px;
  padding: 64px 48px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.support {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0px 200px;
}

.support-title {
  color: white;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

.support-description {
  color: white;
  font-size: 16px;
  text-align: center;
  font-weight: lighter;
}

.support-input {
  display: flex;
  align-items: center;
  gap: 10px;
}

input[type="text"] {
  width: 548px;
  height: 57px;
  padding: 20px;
  color: #0d1321;
  border-radius: 8px;
  font-size: 16px;
  font-family: "Azeret Mono", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

input[type="submit"] {
  width: 120px;
  height: 57px;
  color: #0d1321;
  border-radius: 8px;
  font-weight: 500;
  font-size: 20px;
  font-family: "Azeret Mono", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* footer part */

footer {
  max-width: 1140px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 32px 0px;
}

.logo-footer {
  display: flex;
  gap: 24px;
}
