* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-font {
  font-family: "Azeret Mono", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* header part styles */

/*!  ONE */
/* *NAVBAR */
.navbar {
  display: flex;
  /* background-color: orangered; */
  justify-content: space-between;
  padding: 38px 150px;
}

.navbar-title {
  font-size: 28px;
  font-weight: 800;
}

.navbar-download-button {
  width: 245px;
  height: 55px;
  border-radius: 8px;
  border: 1px solid black;
  font-size: 20px;
}

/* hero part design inside header */
.hero {
  background-image: url(../assets/heru-bg.png);
  height: 652px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 26px 221px 45px 221px;
}

.profile-image {
  width: 240px;
  height: 240px;
  margin-bottom: 32px;
}

.hero-title {
  font-size: 48px;
  font-weight: 800;
  text-align: center;
  padding: 0px 200px;
  margin-bottom: 24px;
}

.hero-description {
  font-size: 16px;
  padding: 0px 300px;
  text-align: center;
  margin-bottom: 32px;
}

.hero-contact-button {
  width: 244px;
  height: 65px;
  padding: 21px 24px;
  background-color: black;
  /* color: white; */
  border-radius: 8px;
}

a {
  font-size: 20px;
  font-weight: 600;
  color: white;
  text-decoration: none;
}
